/* MenkCMS Vertical Page Public */
body{
	width:100%;
	height:100%;
	margin:0 auto 0 auto;
	padding:0;
	font:normal 18px Menksoft2012;
	color:#454545;
	background-color: #e0f3f9;
	/*text-align: center;*/ /*居中*/
	/*writing-mode: vertical-lr;*//*从左向右 从右向左是 writing-mode: vertical-rl;*/
}

div{
	border:1px solid #000;
	writing-mode: vertical-lr;
}

.horizontal{
	writing-mode: horizontal-tb;
}

.nav{
	font-size: 36px;
}
